# Base Network
VITE_BASE_RPC_URL=https://mainnet.base.org
VITE_USDC_CONTRACT_BASE=0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913

# Farcaster (opcional)
FARCASTER_USERNAME=noalatam
VERIFIED_WALLET=0xD2F305Aec216eeb84a0E0E4b84582389cB24E669

# Vercel (se configura automáticamente)
# VERCEL_URL=



